.page-content {
    background-image: url('../../../assets/images/Brooklyn.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: grey;
    padding: 10px 0;
    height: calc(100vh - 64px);
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;

    h2 {
        color: grey;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.bottom-action {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

mat-icon {
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}
