<mat-toolbar color="white">
    <app-button-menu-mobile (menuClicked)="drawer.toggle()"></app-button-menu-mobile>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #drawer [mode]="isHandset$ ? 'over' : 'side'" [fixedInViewport]="isHandset$ ? false : true"
        [opened]="isHandset$ ? false : true">
        <mat-nav-list>
            <a mat-list-item routerLink="home">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </a>
            <a mat-list-item routerLink="people">
                <mat-icon>people</mat-icon>
                <span>People</span>
            </a>
            <a mat-list-item routerLink="jobs">
                <mat-icon>work</mat-icon>
                <span>Jobs</span>
            </a>
            <a mat-list-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Log Out</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div style="padding: 20px;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

