<div class="page-content">
    <h2>Register</h2>
    <mat-card class="container">
        <form (ngSubmit)="register()">
            <mat-form-field>
                <mat-label>Username:</mat-label>
                <input matInput [(ngModel)]="username" name="username" [required]="true">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password:</mat-label>
                <input matInput type="password" [(ngModel)]="password" name="password" [required]="true">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirm Password:</mat-label>
                <input matInput type="password" [(ngModel)]="confirmPassword" name="confirmPassword" [required]="true">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Register</button>
            <a routerLink="/sign-in">Sign-in</a>
        </form>
    </mat-card>
    
    <ng-template #alertModal let-modal>
        <div mat-dialog-content class="modal-content">
            <p>{{ errorMessage }}</p>
        </div>
        <div mat-dialog-actions>
            <button mat-button (click)="modal.close()">OK</button>
        </div>
    </ng-template>
</div>