h2 {
  text-align: center;
  color: grey;
  font-weight: 400;
}

a {
  color: gray;
  text-align: center;
}

form {
    display: flex;
    flex-direction: column;

    button {
        margin-bottom: 10px;
    }
}

.modal-content {
  width: 200px;
  height: 160px;
}