form {
    display: flex;
    flex-direction: column;
}

.page-content {
    background-image: url("../../../assets/images/Miami.png");
    color: grey;
    height: calc(100vh - 64px);
}

.container { 
    padding: 50px 0;
    margin-top: 50px;
}

