<div class="page-content">
    <div class="container">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ title }}</mat-card-title>
            </mat-card-header>

            <form [formGroup]="personForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field appearance="fill" class="form-group">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" [required]="true">
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-group">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" [required]="true">
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-group">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" [required]="true">
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-group">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone" [required]="true" maxlength="15">
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-group">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="state" [required]="true">
                        <mat-option *ngFor="let state of states" [value]="state.abbreviation">{{ state.name
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit">{{ buttonLabel }}</button>
            </form>
        </mat-card>
    </div>
</div>